.brendovi-tekst{
    font-family: Inter;
    font-weight: 400;
    font-size:28px;
    line-height: 34px;
    text-align: center;
}
.brendovi{
    margin-top: 100px;
    align-items: center;
    size:70%;
}
.brendovi-tekst-div{
    align-items: center;
    text-align: center;
}
.brendovi-slika{
    align-items: center;
    overflow: hidden;
    margin: 0px;
    margin-left: 130px;
}
.brendovi-line{
    align-content: center;
    width: 400px;
    color: gray;
    background-color: grey;
    margin-bottom: 100px;
}
.brendovi-button{
    height: 50px;
    width: fit-content;
    background-color: rgb(197, 1, 1);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 574.5px;
    margin-bottom: 100px;
}
.brendovi-button:hover{
    background-color: rgb(121, 14, 14);
}
.brendovi-slike{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.textDove,.textNivea,.textVanish,.textDove,.textAjax,.textCif{
    position: relative;
    right:80px
}
.textPalmo{
    position: relative;
    right: 87px;
}