@media only screen and (max-width: 600px){
    .header{
        display: flex;
        justify-content: left;
        align-items: left;
    }
    .logo{
        display: inline-block;
        padding-right: 60px;
    }
    .jezici{
        display: none;
        width: 20%;
        height: 20%;
    }
    .section{
        display: none;
    }
    .phone-expand{
        display: inline-block;
    }
    .phone-expand,hr{
        margin-right: 15px;
        width: 30px;
    }
    .logo{
        margin-left: 30px;
        padding: 0px;
        margin-right: 140px;
    }


        /*OPISSS*/



    .container-opis{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .opis{
        display: block; 
        align-content: center;
    }
    .div-opis1,.text2,.Saznaj{
        margin: 0px;
        padding: 0px;
    }

    .container-opis,p{
        margin: 0px;
    }
    .naziv{
        text-align: center;
    }
    .linija1{
        display: block;
        margin: 0;
        width: 60%;
        margin-left: 20%;
    }
    .linija2{
        display: block;
        margin: 0;
        width: 100%;
    }
    .txtnaziv,.text1{
        margin-left: 0px;
        margin-bottom: 5px;
    }
    .dugme{
        display: flex;
        justify-content: center;
    }
    .text2{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .kamioni{
        margin: 0px;
        margin-bottom: 40px;
        object-fit: cover;
        min-height: 235px;
    }
    .zgrada{
        display: block;
        margin-top: 40px;
    }
   /* *{ border: 1px solid black; }*/
    .brendovi-button{
        display: none;
    }
    .sliketri{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0px;
        margin: 0px;
        align-items: center;
    }
    .sliketri,div{
        margin: 0px;
        padding-bottom: 20px;
        text-align: center;
        align-content: center;
    }
    .line-partner{
        width: 110px;
    }
}