.popup {
    display: block;
    position: absolute;
    left: 30%;
    right: 30%;
    top: 20%;
    bottom: 30%;
    background-color: #e0dede;
    padding: 30px;
    border-radius: 5px;
    height: 55%;
}
.accept-cookies{
    background-color: red;
    color: white;
    font: Roboto;
    font-size: 400;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    border-radius: 8px;
}
.overlay-popup{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.popupContet{
    text-align: center;
}
#stop-scrolling{
    height: 100%;
    overflow: none;
}
.dark-mode{
        background-color: rgba(12, 7, 7, 0.788);
        color: white;
        .tekstFolije,.tekstKuhinja,.tekstUbrusi,.tekstKozmetika,.tekstKante,.popupContet{
            color: black;
        }
    }

