.container{
    position: relative;
    overflow: hidden;
}
.arrow{
    position: absolute;
    top: 550px;
    left: 681px;
}
.video{
    max-width: 100%;
    overflow: hidden;
}
.kamioni{position: relative; margin-top: 60px; max-width: 100%;margin-bottom: 100px}