.sliketri{
    display: flex;  
    justify-content: center;
}
.line-partner,.line-proizvod,.line-uvoz{
    width: 20px;
    color: red;
    margin: 0px;
    padding-left: 30px;
}
.tekst1,.tekst2,.tekst3{
    margin-bottom: 5px;
}
.tekst3{
    margin-top: 0px;
}
.line-naslici{
    height: 10px;
    width: 400px;
    color:red;
    background-color: red;
    margin: 0px;
    position: relative;
    bottom: 15px;
}